* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Outfit', sans-serif; */
  overflow-x: hidden;
}
html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-y: none;
}
:root {
  --lightgrey: #dedad6;
  --darkblue: #124f9a;
  --black: #15181f;
  --lightblue: #457fc2;
  --bluegrey: #254064;
  --orangered: #d9484f;
  --lightgreen: #62aebd;
  --brown: #604c3e;
  --grey: #71706c;
  --darkbrown: #48453f;
  --white: #ffffff;
  --orange: #fa8334;
}

a {
  text-decoration: none;
}

.Header-Section {
  position: relative;
  background-image: url("./img/background5.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow-x: hidden;
}

.header-sec {
  /* position: relative; */
  /* z-index: 1; */
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* background-color: rgba(0, 167, 209, 0.5); /~ Adjust the color and opacity as needed ~/ */
}
.Headerr {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* z-index: -1; */
  /* background-color: var(--lightgreen); */
  /* margin: 2rem 0 0rem 0; */
  padding: 1rem 0 1rem 0;
}

.left-header {
  position: relative;
  z-index: 2;
  width: 67%;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.left-headerTxt .left-desc-head {
  color: var(--white);
  font-weight: 700;

  font-size: 2.4rem;
}

.left-headerTxt .left-desc-subhead {
  font-size: 1.4rem;
  font-weight: 700;

  color: var(--white);
  text-align: left;
  line-height: 45px;
}
.left-headerTxt .left-desc-subhead a {
  text-decoration: none;
  font-size: 48px;
  color: var(--white);
}
.left-headerTxt .left-desc-subhead span {
  font-size: 39px;
  font-weight: 400;
  color: var(--white);
  text-align: left;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.left-header span:nth-of-type(3) {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: 400;
}
.left-headerTxt {
  display: flex;
  flex-direction: column;
}
.left-header-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.i-btn {
  border: 1px solid white;
  padding: 11px 32px;
  border-radius: 9px;
}
.intro-btn {
  display: flex;
  align-items: center;
  gap: 17px;
  color: var(--white);
}
.intro-btn .intro-icon {
  font-size: 42px;
}
.intro-btn .intro-btn-det {
  display: flex;
  flex-direction: column;
  gap: line;
  line-height: 26px;
}
.intro-btn-det span:nth-of-type(1) {
  font-size: 22px;
  font-weight: 600;
  overflow-y: hidden;
}
.intro-btn-det span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .left-header {
    padding: 1rem 0;
  }
}
.right-header {
  width: 28%;
  position: relative;
  z-index: 2;
}
.right-header img {
  /* width: 14rem; */
  width: 14rem;
  height: 23rem;
}

@media screen and (max-width: 1370px) {
  .left-header .left-headerTxt {
    margin-left: 3rem;
  }
  .right-header img {
    width: 90%;
    height: 99%;
  }
}

@media screen and (max-width: 970px) {
  .left-header {
    width: 100%;
    justify-content: flex-start;
  }

  .left-header .left-headerTxt {
    margin-left: auto;
    margin-right: auto;
  }
  .right-header {
    width: 100%;
    overflow: hidden;
  }
  .right-header img {
    overflow: hidden;
    width: 210.632px;
    height: 207.901px;

    /* transform: rotate(-6.116deg); */
  }

  .left-headerTxt .left-desc-head {
    text-align: center;
  }

  .left-headerTxt .left-desc-subhead {
    text-align: center;
  }

  .left-headerTxt .left-desc-subhead a {
    text-align: center;
  }

  .left-headerTxt span:nth-of-type(3) {
    text-align: center;
  }
  .left-headerTxt .left-header-btn {
    justify-content: center;
  }

  .left-headerTxt .left-desc-head:after {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 420px) {
  .Headerr {
    margin: 2rem 0 0.2rem 0;
  }
  .button-5 {
  }
  .left-headerTxt .left-desc-head {
    text-align: center;
  }
  .left-headerTxt .left-desc-head:after {
    display: none;
  }
  .left-headerTxt .left-desc-subhead p {
    color: #1d1d1d;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.14px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
  }
  .left-headerTxt .left-desc-subhead a {
    font-size: 28px;
  }

  .left-headerTxt span:nth-of-type(3) {
    text-align: center;
    font-size: 17px;
  }
  .left-header-btn {
    margin: 0 auto 0 auto;
  }

  .left-headerTxt .left-header-btn {
    gap: 1rem;
  }

  .right-header img {
    width: 353.978px;
    height: 299.307px;
    transform: rotate(0);
  }
}
/* ressearch  */

.res-sec {
  /* margin: 2rem 0; */
  /* margin:auto; */
  /* max-width:300px */
  /* position: relative; */
  /* bottom:18rem */
}
.res-head {
  text-align: center;
  color: var(--grey);
}
.res-head:after {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  background: var(--orange);

  margin: 13px auto;
}
.res-searchbar {
  display: flex;
  justify-content: center;
}
.res-searchbar input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 3px solid grey;

  width: 37rem;
  background: #fff;

  border-radius: 12px;
}

.res-searchbar button {
  float: left;
  width: 14%;
  padding: 2px;
  background: var(--orange);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  right: 19px;
}

.res-searchbar button:hover {
  background: #0b7dda;
}

@media (max-width: 778px) {
  .res-searchbar button {
    width: 50%;
  }
}

/* service section */
.service-con {
  margin: 4rem 0;
}
.ser-head {
  overflow-y: hidden;
}
.service {
  display: flex;
  justify-content: space-between;
  /* max-width: 960px; */
  /* margin: auto; */
  flex-wrap: wrap;
}

.ser-plan {
  /* flex: 1; */
  background-color: rgb(215, 230, 252);
  /* margin: 29px 47px; */
  padding: 23px;
  border-radius: 6px;
  color: #fff;
  border: 4px solid var(--lightblue);
  /* width: 30%; */
  margin-top: 12px;
}
.ser-plan h4 {
  margin-top: 0;
  /* padding-bottom: 10px; */
  /* border-bottom: 2px solid #e30046; */
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: var(--bluegrey);
  font-weight: 700;
  overflow-y: hidden;
}
.ser-plan p {
  margin-top: 0;
  color: var(--bluegrey);
}
.ser-plan p span {
  font-size: 33px;
  color: var(--bluegrey);
}
.ser-plan ul {
  /* margin: 0 0 35px; */
  padding-left: 16px;
  list-style: none;
  /* line-height: 1.8; */
  color: var(--bluegrey);
}

.ser-plan ul li:before {
  content: "\2714";
  margin-right: 12px;
  color: rgb(0, 126, 0);
  font-weight: bold;
}
.ser-plan a {
  text-decoration: none;
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  background: var(--bluegrey);
  border: 2px solid var(--bluegrey);
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.ser-plan a:hover {
  background-color: #1f262c;
}

@media (max-width: 768px) {
  .service {
    display: block;
  }
}

@media (max-width: 1396px) {
  .service {
    justify-content: center;
  }
}

/* About */
.about {
  /* background-color: var(--lightgreen); */
  overflow-x: hidden;
  font-family: "Varela Round", sans-serif;
  background-image: url("./img/background4.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  position: relative;
}
.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 66, 138, 0.9);
  z-index: 1;
}
.about-sec {
  padding: 2rem;
}
.about-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  color: var(--white);
  position: relative;
  z-index: 2;
}
.about-con h5,
.about-con h2 {
  overflow-y: hidden;
}
.about-con h2 {
  font-weight: bold;
}
.about-con h5 {
  color: var(--lightgrey);
}

.about-btns {
  display: flex;
  gap: 4rem;
}
.button {
  padding: 9px 25px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.discover-button {
  background-color: #ff8c00;
  color: #fff;
}

.documentation-button {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

@media only screen and (max-width: 600px) {
  .about-btns {
    flex-direction: column;
  }
  .about-btns {
    display: flex;
    gap: 1rem;
  }
}
@media (max-width: 997px) {
  .about-con {
    width: 100%;
  }
}

/* support  */
.supp-sec {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1rem;
}

.supp-sec .supp-card {
  display: flex;
  flex-direction: row;

  gap: 6rem;
}
.supp-sec .sup-c {
  padding: 14px;
  display: flex;
  flex-direction: column;
  /* border-left: 4px solid var(--darkblue) */
}
.s_card-1,
.s_card-3 {
  border-left: 4px solid var(--darkblue);
}

.s_card-2,
.s_card-4 {
  border-left: 4px solid var(--orange);
}
.supp-card-head {
  display: flex;
}
.supp-card-head img {
  width: 43px;
  height: 33px;
}
.sup-c h4 {
  font-weight: 600;
  color: var(--darkblue);
  overflow: hidden;
}
.sup-c p {
  color: var(--grey);
  font-weight: 400;
}

@media (max-width: 771px) {
  .supp-sec .supp-card {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .supp-sec {
    padding: 2rem;
  }
}

/* connect */

.connect {
  /* overflow-x: hidden; */
  /* font-family: "Varela Round", sans-serif; */
  /* background-image: url('../src/img/background.svg'); /~ Replace 'your-image-path.jpg' with the actual path to your image file ~/ */
  /* background-size: cover; /~ Adjust as needed ~/ */
  /* background-position: center; /~ Adjust as needed ~/ */
  /* background-repeat: no-repeat; */
  /* margin-bottom: 3rem; */
}
.connect-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    45,
    37,
    31,
    0.2
  ); /* Brown color with some transparency */
  z-index: 1; /* Ensure the overlay is above the background image */
}
.connect-sec {
  padding: 3rem;
  position: relative;
  background-image: url("./img/background6.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow-x: hidden;
  border-radius: 15px;
}
.connect-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--white);
  position: relative;
  z-index: 2;
  padding: 0 6rem;
}

.connect-con h2 {
  font-weight: bold;
  overflow-y: hidden;
  margin-bottom: 2rem;
  font-size: 3.5rem;
}
.connect-con h2:after {
  content: "";
  display: block;
  width: 210px;
  height: 3px;
  background: orange;
  left: 85px;
  margin: 13px 0 13px 0;
}

@media (max-width: 1141px) {
  .connect-con h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 998px) {
  .connect-con {
    padding: 0 0.6rem;
  }
  .connect-sec {
    padding: 1.5rem;
  }
}
/* rating */
#rating-sec {
  margin: 3rem 0;
}
#rating-sec h3 {
  color: var(--grey);
  font-weight: 500;
}
#rating-sec h2,
#rating-sec h3 {
  text-align: center;
  overflow-y: hidden;
}

#rating-sec h2 span:nth-of-type(1) {
  color: green;
}
.rating-con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.rating-card {
  /* width:100%; */
  height: 100%;
}
.rating-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightgrey);
  padding: 1rem;
  border-radius: 20px;
  margin: 2rem;
}

.rating-card h6 {
  color: var(--grey);
  text-align: center;
}
.rating-card h6:after {
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  background: rgb(202, 202, 202);
  /* left: 85px; */
  margin: 7px 0 2px 0;
}
.rating-card p {
  color: var(--grey);
  font-weight: 500;
}
.rating-card img {
  width: 50px;
  height: 50px;
  /* position: relative; */
  /* bottom:20px */
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ffc700;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* offer */
.offer-sec {
  padding: 4rem;

  overflow-x: hidden;
  font-family: "Varela Round", sans-serif;
  background-image: url("./img/background2.svg"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
}
.offer-detail {
  display: flex;
  padding: 1rem;
}
.off-sticker {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  padding: 0 22px;
}
.off-sticker img {
  width: 7rem;
  height: 7rem;
}
.off-detail {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.off-detail span {
  color: var(--orange);
}
.off-detail h3 {
  font-weight: bold;
  color: var(--white);
}
.off-detail p {
  color: var(--lightgrey);
}

@media (max-width: 650px) {
  .off-sticker {
    width: 33%;
  }
}

@media (max-width: 773px) {
  .offer-sec {
    padding: 1rem;
  }
  .off-sticker {
    width: 28%;
    display: flex;
    justify-content: flex-end;
    padding: 0 9px;
  }
}

@media (max-width: 466px) {
  .off-sticker {
    padding: 0 1px;
  }
}
/* footer */
.pg-footer {
  /* font-family: 'Roboto', sans-serif; */
  overflow-x: hidden;
  font-family: "Varela Round", sans-serif;
  background-image: url("./img/background1.svg.jpg"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
}

.footer {
  /* background-color: #000; */
  color: var(--grey);
}

.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  /* padding: 40px 15px 450px; */
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #b8b8b8;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  overflow-y: hidden;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}
.visa-icon {
  width: 50%;
  height: 20%;
}
.paysafe-icon {
  width: 30%;
  height: 20%;
}
.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}
.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #027b9a;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  /* color: :; */
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  /* color: #fff; */
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}
.footer-logo {
  width: 12rem;
  height: 2.4rem;
}

.footer-copyright {
  /* background-color: #000; */
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: var(--grey);
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 30px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 30px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 13px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 4rem 0;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/* page 2 (web and domain*/
/* intro web and domain */

.wd-Header-Section {
  position: relative;
  background-image: url("./img/background5.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow-x: hidden;
}

.wd-Headerr {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* z-index: -1; */
  /* background-color: var(--lightgreen); */
  /* margin: 2rem 0 0rem 0; */
  padding: 1rem 0 1rem 0;
}

.wd-left-header {
  position: relative;
  z-index: 2;
  width: 67%;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.wd-left-headerTxt .wd-left-desc-head {
  color: var(--white);
  font-weight: 700;

  font-size: 2.4rem;
}

.wd-left-headerTxt .wd-left-desc-subhead {
  font-size: 1.4rem;
  font-weight: 700;

  color: var(--white);
  text-align: left;
  line-height: 45px;
}
.wd-left-headerTxt .wd-left-desc-subhead a {
  text-decoration: none;
  font-size: 48px;
  color: var(--white);
}
.wd-left-headerTxt .wd-left-desc-subhead span {
  font-size: 39px;
  font-weight: 400;
  color: var(--white);
  text-align: left;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.wd-left-header span:nth-of-type(3) {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: 400;
}
.wd-left-headerTxt {
  display: flex;
  flex-direction: column;
}
.wd-btn .wd-intro-button {
  background-color: #ff8c00;
  color: #fff;
}

@media (min-width: 768px) {
  .wd-left-header {
    padding: 1rem 0;
  }
}
.wd-right-header {
  width: 28%;
  position: relative;
  z-index: 2;
}
.wd-right-header img {
  width: 70%;
  /* height: 23rem; */
}

@media screen and (max-width: 1370px) {
  .wd-left-header .wd-left-headerTxt {
    margin-left: 3rem;
  }
  .wd-right-header img {
    width: 90%;
    height: 99%;
  }
}

@media screen and (max-width: 970px) {
  .wd-btn {
    margin: auto;
  }
  .wd-left-header {
    width: 100%;
    justify-content: flex-start;
  }

  .wd-left-header .wd-left-headerTxt {
    margin-left: auto;
    margin-right: auto;
  }
  .wd-right-header {
    width: 100%;
    overflow: hidden;
  }
  .wd-right-header img {
    overflow: hidden;
    width: 210.632px;
    height: 207.901px;

    /* transform: rotate(-6.116deg); */
  }

  .wd-left-headerTxt .wd-left-desc-head {
    text-align: center;
  }

  .wd-left-headerTxt .wd-left-desc-subhead {
    text-align: center;
  }

  .wd-left-headerTxt .wd-left-desc-subhead a {
    text-align: center;
  }

  .wd-left-headerTxt span:nth-of-type(3) {
    text-align: center;
  }
  .wd-left-headerTxt .wd-left-header-btn {
    justify-content: center;
  }

  .wd-left-headerTxt .wd-left-desc-head:after {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 420px) {
  .wd-Headerr {
    margin: 2rem 0 0.2rem 0;
  }

  .wd-left-headerTxt .wd-left-desc-head {
    text-align: center;
  }
  .wd-left-headerTxt .wd-left-desc-head:after {
    display: none;
  }
  .wd-left-headerTxt .wd-left-desc-subhead p {
    color: #1d1d1d;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.14px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
  }
  .wd-left-headerTxt .wd-left-desc-subhead a {
    font-size: 28px;
  }

  .wd-left-headerTxt span:nth-of-type(3) {
    text-align: center;
    font-size: 17px;
  }
  .wd-left-header-btn {
    margin: 0 auto 0 auto;
  }

  .wd-left-headerTxt .wd-left-header-btn {
    gap: 1rem;
  }

  .wd-right-header img {
    width: 353.978px;
    height: 299.307px;
    transform: rotate(0);
  }
}
/* pricing table */

#price {
  text-align: center;
  margin: 3rem 0;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
  font-family: "Lato", Arial, sans-serif;
  border: 2px solid var(--bluegrey);
  border-radius: 11px;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position: relative;
  padding: 1rem;
}
.plan-recom {
  background-color: var(--orange);
  width: 60%;
  margin: auto;
}
.plan-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 16px;
}
.plan-head button {
  width: 100%;
  height: 2rem;
  background-color: var(--bluegrey);
  color: var(--white);
  border-radius: 9px;
  border: 2px solid var(--bluegrey);
}
.plan-head h4,
.plan-head h3 {
  font-weight: bold;
  color: var(--bluegrey);
}
.plan-head p {
  color: var(--grey);
  overflow-y: hidden;
}
.plan-det {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plan-det ul {
  /* margin: 0 0 35px; */
  padding-left: 0rem;
  list-style: none;
  /* line-height: 1.8; */
  color: var(--bluegrey);
}
.plan-det li {
  color: var(--grey);
}

.plan-det ul li:before {
  content: "\2714";
  margin-right: 12px;
  color: rgb(0, 126, 0);
  font-weight: bold;
}

/* installation */
.in-side-by-side {
  display: flex;
  flex-wrap: wrap;
}

.in-section {
  flex: 1;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  /* background-color: #f8f9fa; */
}
.in-head {
  font-weight: bold;
  color: var(--bluegrey);
}
.in-head:after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: orange;
  left: 85px;
  margin: 5px 0 5px 0;
}

.in-det h4 {
  font-weight: bold;
  color: var(--bluegrey);
  overflow: hidden;
}
.in-det p {
  color: var(--grey);
  font-weight: 500;
}
.in-det {
  display: flex;
  flex-direction: column;
  border-left: 4px solid var(--darkblue);
  padding: 14px;
  margin-bottom: 13px;
}
.in-section img {
  width: 75%;
  height: 66%;
}
@media (max-width: 993px) {
  .in-side-by-side {
    flex-direction: column;
  }
}

/* Infrastructure */
.infra-sec {
  position: relative;
  background-image: url("./img/background7.svg"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow-x: hidden;
}

.infra-side-by-side {
  display: flex;
  flex-wrap: wrap;
}

.infra-section {
  flex: 1;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  /* background-color: #f8f9fa; */
}

.infra-con h4,
.infra-section h5 {
  font-weight: 600;
  overflow-y: hidden;
}
.infra-sec h4,
.infra-sec h3 {
  color: var(--white);
  font-weight: bold;
}
.infra-sec h5 {
  color: var(--lightgrey);
}
.infra-sec p {
  color: var(--lightgrey);
}
.infra-section h4:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 140px;
  height: 3px;
  background: orange;
  left: 85px;
  margin: 13px 0 13px 0;
}

.left-infra-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.in-btn {
  border: 1px solid var(--grey);
  padding: 1px 38px;
  border-radius: 9px;
}
.infra-btn {
  display: flex;
  align-items: center;
  gap: 17px;
  color: var(--white);
}
.infra-btn .infra-icon {
  font-size: 42px;
}
.infra-btn .infra-btn-det {
  display: flex;
  flex-direction: column;
  gap: line;
  line-height: 26px;
}
.infra-btn-det span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 400;
  overflow-y: hidden;
}

.infra-box {
  border-left: 4px solid var(--orange);
  padding: 22px;
  margin: 16px 0;
}
.infra-box h3 {
  overflow-y: hidden;
}
@media (max-width: 1241px) {
  .infra-side-by-side {
    flex-direction: column;
  }

  .infra-section {
    margin: 10px;
    padding: 2px;
  }
}

@media (max-width: 715px) {
  .left-infra-btn {
    flex-direction: column;
  }
}

/* faqs */
.faq-sec {
  background-color: var(--darkblue);
  /* margin: 2rem 0 ; */
}
.faq-head {
  padding: 30px 20px;
  color: var(--white);
  overflow-y: hidden;
}
.faq-head h2 {
  font-weight: bold;
  font-size: 3rem;
  overflow-y: hidden;
}
.faq-head h5 {
  overflow-y: hidden;
}
.faq-side-by-side {
  display: flex;
  flex-wrap: wrap;
}

.faq-section {
  flex: 1;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  /* background-color: #f8f9fa; */
  background: var(--darkblue);
}

.accordion {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  max-width: 991px;
  min-width: 320px;
  /* margin: 50px auto; */
  padding: 0 20px;
}
.accordion p {
  color: var(--lightgrey);
  overflow-y: hidden;
}
.accordion-item {
  /* margin-top: 16px; */
  /* border: 1px solid #fcfcfc; */
  border-radius: 6px;
  /* background: #ffffff; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}

.accordion {
  --bs-accordion-color: none;
  --bs-accordion-bg: none;
}
.accordion-item {
  border: none;
  border-bottom: 2px solid grey;
  color: white;
  font-weight: 600;
}
.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px 17px;
  box-sizing: border-box;
  align-items: center;
}
.accordion-item .accordion-item-desc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: var(--white);
  /* border-top: 1px dashed #ddd; */
  padding: 10px 20px 20px;
  box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
  display: block;
}
.accordion-item
  input[type="checkbox"]:checked
  ~ .accordion-item-title
  .icon:after {
  content: "-";
  font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
  content: "+";
  font-size: 20px;
}
.accordion-item:first-child {
  margin-top: 0;
}
.accordion-item .icon {
  margin-left: 14px;
}
.faq-right-det {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35px;
}
.faq-sec h3 {
  color: var(--white);
  margin-bottom: 20px;
  overflow-y: hidden;
}
.faq-right-det span:nth-of-type(1) {
  color: var(--lightgrey);
}
.faq-right-det span:nth-of-type(2) {
  color: var(--white);
}
.faq-section hr {
  margin: 0.6rem 0;
  color: var(--grey);
  border-top: 2px solid var(--lightgrey);
  opacity: 0.25;
}
@media screen and (max-width: 1005px) {
  .faq-side-by-side {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .accordion {
    /* padding: 0 16px; */
  }
  .accordion h1 {
    font-size: 22px;
  }
  .accordion {
    padding: 0 6px;
  }
}

/* switch */
.switchtoggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 99px;
  height: 50px;
  background-color: rgb(7, 86, 183);
  border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
  margin: 0 20px;
  overflow-y: hidden;
}

/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

/* Toggle text */
.switchtoggle p {
  font-weight: bold;
  margin: initial;
}

/* Checkbox checked effect */
.switchtoggle .checkbox:checked + .toggle::after {
  left: 49px;
}

/* Checkbox checked toggle label bg color */
.switchtoggle .checkbox:checked + .toggle {
  background-color: grey;
}

/* Checkbox vanished */
.switchtoggle .checkbox {
  display: none;
}

/* page 3 */
.ser-cloud-sec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.left-sc-intro {
  width: 67%;
  display: flex;
  justify-content: center;
  /* padding: 4rem 0;flex-direction: column; */
  flex-direction: column;
}
.right-sc-intro {
  width: 28%;
  position: relative;
  z-index: 2;
}
.right-sc-intro img {
  width: 20rem;
  height: 23rem;
}
.left-sc-intro h4 {
  overflow-y: hidden;
  color: var(--bluegrey);
  font-weight: bold;
  margin: 22px 0;
}
.left-sc-intro p {
  color: var(--grey);
  font-weight: 600;
}

@media (max-width: 1195px) {
  .right-sc-intro img {
    width: 17rem;
  }
}

@media (max-width: 944px) {
  .right-sc-intro {
    width: 80%;
  }
  .left-sc-intro {
    width: 100%;
  }
  .ser-cloud-sec {
    justify-content: center;
  }
  .right-sc-intro img {
    width: 14rem;
  }
}

/*cloud services*/
#cloudser-sec {
  padding: 3rem 0 0 0;
  margin: 3rem 0 0 0;
  background-color: var(--lightblue);
  position: relative;
  background-image: url("./img/cloud.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: top; /* Adjust as needed */
  background-repeat: no-repeat;
  /* margin-bottom: 3rem; */
  /* overflow-x: hidden; */
}
#cloudser-sec h1 {
  font-weight: bold;
  color: var(--white);
}
#cloudser-sec h3 {
  color: var(--white);
  font-weight: 500;
}
#cloudser-sec h1,
#cloudser-sec h3 {
  text-align: center;
  overflow-y: hidden;
}

#cloudser-sec h2 span:nth-of-type(1) {
  /* color:green */
}
.cloudser-con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cloudser-card {
  /* width:100%; */
  height: 100%;
  width: 32%;
}
.cloudser-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 20px;
  margin: 2rem;
}

.cloudser-c h3 {
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

.cloudser-c h3 span {
  font-size: 4rem;
  font-weight: bold;
}
.cloudser-c p {
  color: var(--white);
  font-weight: 500;
}
.cloudser-card img {
  width: 50px;
  height: 50px;
  /* position: relative; */
  /* bottom:20px */
}
.sc-button {
  padding: 14px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff8c00;
  color: #fff;
}

.cloud-ser-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 1211px) {
  .cloudser-card {
    width: 45%;
  }
}
@media (max-width: 900px) {
  .cloudser-con {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cloudser-card {
    width: 100%;
  }
}

/* Tramsfer dommain */
.transfer-domain {
  position: relative;
  background-image: url("./img/tramsfer_back.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow-x: hidden;
  background-color: var(--black);
  margin: 2rem 0;
}
.td-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
}
.td-left {
  width: 70%;
}
.td-left h2 {
  color: var(--white);
  font-weight: bold;
  overflow-y: hidden;
}
.td-left p {
  color: var(--grey);
  font-size: 1.4rem;
}
.td-right {
  width: 30%;
}
.td-right img {
  width: 60%;
}

@media (max-width: 832px) {
  .td-con {
    flex-direction: column;
  }
  .td-left,
  .td-right {
    width: 100%;
  }
}

/* Enregistrement */
.enregis-sec {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.enregis-sec h5,
.enregis-sec h2 {
  text-align: center;
  overflow-y: hidden;
  margin: 1rem 0;
}
.enregis-sec h5 {
  color: var(--grey);
}
.enregis-sec h2 {
  color: var(--bluegrey);
  font-weight: bold;
}
.enreg-box {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 54px;
}
.er-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border:2px solid black; */
  /* padding: 1.4rem ; */
  /* background-color: var(--lightblue); */
  /* color:var(--white); */
  width: 11rem;
  /* height: 8rem */
  border-radius: 8px;
}
.er-b h3,
.er-b h4 {
  overflow-y: hidden;
  font-weight: bold;
}
.er-b i {
  /* background-color: blue; */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-left: auto;
  overflow-y: hidden;
}
.er-b span {
  position: relative;

  left: 5px;
  bottom: 4px;
}
.er-b button {
  width: 100%;
  background-color: var(--darkblue);
  color: var(--white);
  border: 2px solid var(--darkblue);
  height: 2.3rem;
  border-radius: 8px;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

/* rw-intro section */
.rw-Header-Section {
  position: relative;
  background-image: url("./img/background9.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow-x: hidden;
}

/* service gaming */

/* extension gaming */

#extensgam-sec {
  padding: 3rem 0 0 0;
  margin: 3rem 0 0 0;

  /* margin-bottom: 3rem; */
  /* overflow-x: hidden; */
}
#extensgam-sec h1 {
  font-weight: bold;
  color: var(--bluegrey);
}
#extensgam-sec h3 {
  color: var(--white);
  font-weight: 500;
   overflow-y: hidden;
}
#extensgam-sec h1,
#extensgam-sec h3 {
  text-align: center;
  overflow-y: hidden;
}
.extentgm-con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.extentgm-card {
  /* width:100%; */
  height: 100%;
  width: 32%;
}
.extentgm-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(207, 201, 201);
  padding: 1rem;
  border-radius: 20px;
  margin: 2rem;
}

.extentgm-c h5 {
  color: var(--bluegrey);
  font-weight: bold;
  text-align: center;
  overflow-y: hidden;
}

.extentgm-c p {
  color: var(--grey);
  font-weight: 500;
}
.extentgm-card img {
  width: 50px;
  height: 50px;
  /* position: relative; */
  /* bottom:20px */
}
.extentgm-button ,.off-pterod-button{
  padding: 14px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff8c00;
  color: #fff;
}

.extentgm-btn ,.off-pterod-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 1211px) {
  .extentgm-card {
    width: 45%;
  }
}
@media (max-width: 900px) {
  .extentgm-con {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .extentgm-card {
    width: 100%;
  }
}

/* Connenctvite Gaming */
.connectivite-sec {
  /* background-color: var(--lightgreen); */
  overflow-x: hidden;
  font-family: "Varela Round", sans-serif;
  background-image: url("./img/background4.png"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  position: relative;
  padding: 3rem 0;
}
.connectivite-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 66, 138, 0.9);
  z-index: 1;
}
.connectivite-con {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  position: relative;
  z-index: 2;
}
.connectivite-sec h1 {
  font-weight: bold;
  color: rgb(226, 214, 214);
  position: relative;
  z-index: 2;
  text-align: center;
}
.left-connectivite,
.right-connectivite {
  padding: 0 23px;
}
.left-connectivite img {
  width: 45%;
}
.right-connectivite img {
  width: 20%;
}
.connectivite-con p {
  color: var(--white);
  font-weight: 300;
  margin-top: 10px;
}
@media (max-width: 984px) {
  .connectivite-con {
    flex-direction: column;
  }
}


/* EcosystemVPS */
.ecosys-sec{
  margin: 4rem 0;
}
.ecosys-con{
 
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.ecosys-card{
  border: 0.4px solid var(--darkblue);
  padding: 22px;
  border-radius: 20px;
  width: 30%;
  height: 20%;
 
}
.ecosys-card h6{
  color:var(--bluegrey);
  font-weight: 700;
  letter-spacing: 3px;
  overflow-y: hidden;
}
.ecosys-card  ul li:before {
  content: "\2714";
  margin-right: 5px;
  color: rgb(0, 126, 0);
  font-weight: bold;
}
.ecosys-r1,.ecosys-r3{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  /* align-content: center; */
  width: 100%;
}
.ecosys-r2{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 1rem 0;
  justify-content: space-around;
  align-items: center;
}
.ecosys-r2 img{
  width: 20%;
  overflow-y: hidden;

}
@media (max-width:997px){
  .ecosys-card{
 
    width: 22rem;
    height: 20%;
   
  }
  .ecosys-r2 img{
    width: 65%;
    overflow-y: hidden;
  
  }
  .ecosys-r2{
  flex-direction: column;
  }
}



@media(max-width:413px){
  .ecosys-card{

    width: 18rem;
    height: 20%;
    margin: 0 22px;
   
  }
  .ecosys-card{
    padding: 15px;
  }
}
/* VPS standard */
.vps-sec{
  margin: 3rem 0;
}
.vps-con{
  display: flex;
  justify-content: center;
  /* background-color: var(--lightgrey); */
margin-bottom: 20px;
}
.vps-c{
  display: flex;
  align-items: center;
   overflow-y: hidden;
}
.vps-c h3,.vps-c h4{
   overflow-y: hidden;
}
.vps-mid{
  text-align: center;
  margin:0 22px;
}
.vps-stand{
  background-color: var(--bluegrey);
  color:var(--white);
  padding:12px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  
}
.vps-specs{
  background-color: var(--lightgrey);
  border-radius: 10px;
}
.vps-specs h5{
  font-weight: 700;
  color:var(--bluegrey);
  overflow-y: hidden;
}

.vps-specs p{
  
  color:rgb(123, 122, 122)
}
.vps-price{
  background-color: var(--bluegrey);
  color:var(--white);
  border-radius: 10px;
  padding: 10px;
  gap:22px;
}
.vps-btn{
  
    background-color: #ff8c00;
    color: #fff;
 
}

@media(max-width:1296px){
  .vps-con{
    flex-wrap: wrap;
  }
}
@media(max-width:562px){
  .vps-mid{margin: 0 7px;
  }
}


/* Sys Explotation gaming */
.sys-exploit-sec{
  position: relative;
  background-image: url("./img/background10.svg"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow-x: hidden;
  padding: 2rem 0;
}
.sys-exploit-sec .slider {
  margin:0 20px;
  overflow:"hidden";
  padding:2rem 0;
}
.sys-exploit-sec h2:after{
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  background: var(--orange);

  margin: 13px auto;
}
.sys-exploit-sec .slider img {
  width: 50%;
  border-radius:10px;
}

.sys-exploit-sec .react-multi-carousel-list {
padding: 0rem 0 2rem 0;
}

.sys-exploit-sec .custom-dot-list-style button{
border: none;
/* background-color:: rgb(255, 68, 68); */
display: none;
}
.sys-exploit-sec .react-multi-carousel-dot.react-multi-carousel-dot--active button{
/* background: rgb(255, 68, 68) !important; */
display: none;
}


/* Characteristic_TechGame */
.chars-techgame-sec{
  position: relative;
  background-image: url("./img/background7.svg"); /* Replace 'your-image-path.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  /* margin-bottom: 3rem; */
  overflow-x: hidden;
  padding: 2rem 0;
}
.chars-tgame-con{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
color:var(--white)
}
.chars-tgame-con h4{
  font-weight: bold;
  overflow-y: hidden;
}
.chars-tgame-card{
  width: 50%;
  padding: 23px;
  /* margin: 23px; */
  border-left: 4px solid var(--orange);
 
}

@media (max-width:792px){
  
  .chars-tgame-card{
width: 100%;
margin: 10px;
  }
}
/* server page */

#price_ser {
  text-align: center;
  margin: 3rem 0;
}

.plan_ser {
  display: inline-block;
  margin: 10px 1%;
  font-family: "Lato", Arial, sans-serif;
  /* border: 2px solid var(--bluegrey); */
  border-radius: 11px;
}

.plan-inner-ser {
  /* background: var(--darkblue); */
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position: relative;
  padding: 1rem;
  
 text-align: left;
}
.plan-inner-ser h4{
  font-weight: bold;
  color: white;
}
.plan-inner-ser p,.plan-inner-ser h6{
  color:var(--lightgrey);
  margin-bottom: 0px;
}
.plan_head-ser{
  display: flex;
  flex-direction: column;
}

.plan_ser_specs{
  display: flex;
  flex-direction: column;
  
}
.plan-ser-c{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 gap:2rem;
 text-align: left;
 margin-bottom: 12px;
}
.plan-ser-data{
  display: flex;
  flex-direction: column;
  /* border:2px solid black; */

}

.plan-ser-det {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plan-ser-det ul {
  margin-top: 10px;
  /* margin: 0 0 35px; */
  padding-left: 0rem;
  list-style: none;
  /* line-height: 1.8; */
  color: var(--bluegrey);
}
.plan-ser-det li {
  color: var(--white);
}

.plan-ser-det ul li:before {
  content: "\2714";
  margin-right: 12px;
  color: rgb(0, 126, 0);
  font-weight: bold;
}
.plan-ser-det a{
  text-decoration: underline;
  color:white;
}
.ser-btn{
  
  background-color: #ff8c00;
  color: #fff;


}



/* server-charsteristic */
.server-faq {
  flex: 1;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  /* background-color: #f8f9fa; */
  /* background: var(--darkblue); */
}

.ser-faq-det {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35px;
}

.ser-faq-det  span:nth-of-type(1) {
  color: var(--lightgrey);
}
.ser-faq-det  span:nth-of-type(2) {
  color: var(--white);
}
.server-faq hr {
  margin: 0.6rem 0;
  color: var(--grey);
  border-top: 2px solid var(--lightgrey);
  opacity: 0.25;
}



/* window page */

#price_ser {
  text-align: center;
  margin: 3rem 0;
}

.plan_win {
  display: inline-block;
  margin: 10px 1%;
  font-family: "Lato", Arial, sans-serif;
  border: 2px solid var(--lightblue);
  border-radius: 8px;
}

.plan-inner-win {
  /* background: var(--darkblue); */
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position: relative;
  padding: 1rem;
  
}
.plan-head-win{
  text-align: center;
}
.plan-inner-win h4{
  font-weight: bold;
  color: white;
}
.plan-inner-win p,.plan-inner-win h6{
  color:var(--lightgrey);
  margin-bottom: 0px;
}
.plan_head-win{
  display: flex;
  flex-direction: column;
}
.plan-ser-det{
  text-align: left;
}
.win-btn{
  width: 90%;
  background-color: #ff8c00;
  color: #fff;
}
.plan_win img{
  position: relative;
  bottom: 7px;
}


/* Pterodactyl section */
.offer-pterod-heading h3:after{
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  background: var(--orange);

  margin: 13px auto;
}
.offer-pterod-logo{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.offer-pterod-logo img{
  width: 13rem;
}
@media (max-width:673px){
  .offer-pterod-logo{
    gap:42px
  }
}
/* communuate pterodactyl */
.commun-pt-con{
  margin:4rem 0;
}
.comm-pt-sec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.left-comm-pt-intro {
  width: 67%;
  display: flex;
  justify-content: center;
  /* padding: 4rem 0;flex-direction: column; */
  flex-direction: column;
}
.right-comm-pt-intro {
  width: 28%;
  position: relative;
  z-index: 2;
  margin: auto;
}
.right-comm-pt-intro img {
  width: 9rem;
  height: 5rem;
}
.left-comm-pt-intro h4 {
  overflow-y: hidden;
  color: var(--bluegrey);
  font-weight: bold;
  margin: 22px 0;
}
.left-comm-pt-intro p {
  color: var(--grey);
  font-weight: 600;
}

.comm-btn {
  background-color: #5865F2;
  color: #fff;
  width: 14rem
}
@media (max-width: 1195px) {
  .right-comm-pt-intro img {
    width: 17rem;
  }
}

@media (max-width: 944px) {
  .right-comm-pt-intro {
    width: 100%;
    margin: 2rem 0
  }
  .left-comm-pt-intro{
    width: 100%;
  }
  .comm-pt-sec {
    justify-content: center;
  }
  .right-comm-pt-intro img {
    width: 14rem;
  }
}

/* broke protocol */
/* bp intro */

.intro-choice h2{
color:var(--white);
font-weight: 600;
text-align: center;
}
.intro-choice-img{
display: flex;
justify-content: space-evenly;
margin-top: 2rem 0;

}
.intro-choice-img img{
  width: 20%;
}


/* video section */

.video-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Adjust the max-width as needed */
  margin: 0 auto;
  height: 60%;
}

.video-container::before {
  content: "";
  display: block;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bp-vid-rec-head{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bp-video-sec h2{
  font-weight: bold;
  color: rgb(84, 84, 84);
}
.bp-video-sec h2:after{
     content: "";
    display: block;
    width: 110px;
    height: 3px;
    background: var(--orange);
      margin: 13px 0;
 
}
.bp-vid-rec-head img{
  width: 30%;
}

.bp-vid-recomm p{
  /* text-align: center; */
  font-size: 22px;
}



/* bp-panel */
.bp-panel-sec{
  background-color: black;
  padding: 2rem 0;
}
.bp-panel-img{
display: flex;
justify-content: center;
}
.bp-panel-img img{
  width: 3rem;
}

.bp-panel-con h2{
  font-weight: bold;
  color: white;
}
.bp-panel-con h2:after{
     content: "";
    display: block;
    width: 110px;
    height: 3px;
    background: var(--orange);
      margin: 13px 0;
 
}

.bp-panel-con p{
  color: white;
}
.bp-panel-btn .pb-panel-button {
  background-color: #ff8c00;
  color: #fff;
}